language: php

php:
  - 5.6
  - 7.0
  - 7.1

before_install:
  - echo "extension=ldap.so" >> ~/.phpenv/versions/$(phpenv version-name)/etc/php.ini

before_script:
  - travis_retry composer self-update
  - travis_retry composer install --no-interaction --prefer-source --dev
  - travis_retry composer require satooshi/php-coveralls --dev
  - travis_retry phpenv rehash

script:
  - mkdir -p build/logs
  - ./vendor/bin/phpcs --standard=psr2 src/
  - ./vendor/bin/phpunit --coverage-clover build/logs/coverage.clover

after_success:
  - travis_retry php vendor/bin/coveralls -v
  - wget https://scrutinizer-ci.com/ocular.phar
  - php ocular.phar code-coverage:upload --format=php-clover build/logs/coverage.clover
