/***** Begin basic elements *****/
html {
  margin: 0;
  padding: 0;
}
body {
  font-family: sans-serif;
  color: #030;
  background: #fff;
  margin: 0;
  padding: 0;
}
p {
  margin-top: 0;
  text-align: justify;
}
img {
  border-style: none;
}
a {
  color: #363;
  outline: none;
}
a:link {
  text-decoration: underline;
}
a:visited {
  text-decoration: underline;
  color: #030; 
}
a:hover, a:active {
  text-decoration: underline;
  color: #696;
}
acronym {
  border-bottom: none;
}
/***** End basic elements *****/

/***** Begin a few misc elements *****/
div.pagecontent {
  margin-left: 2px;
  margin-right: 2px;
  min-width: 600px
}
div.boxed {
  border: 1px solid #888;
  min-width: 350px;
  padding: 2px;
}
div.boxed div.javaapplet {
  text-align: center;
}
div.boxheader {
  border: 1px solid #696;
  text-align: center;
  background-color: #cfc;
  font-weight: bold;
  padding-top: 2px;
  padding-bottom: 2px;
}
div.nojs {
  border: 1px solid #933;
  text-align: center;
  background-color: #fcc;
  margin: 1em 5em 1em 5em;
}
br.clear {
  clear: both;
}
.helpcursor {
  cursor: help;
}
p.equation {
  text-align: center;
  font-weight: bold;
  font-style: italic;
}
p.equation span {
  border: 1px dotted #aca;
  padding: 5px;
}
input.submit {
  font-weight: bold;
  font-size: 110%;
  color: #030;
  background-color: #aba;
}
p.javaapplet {
  text-align: center;
  padding-top: 1em;
  padding-bottom: 1em;
}
applet.gsisshterm {
  border-style: solid;
  border-width: 1px;
}
p.note {
  text-align: center;
  font-size: small;
}
div.portalinfo {
  /* width: inherit; */
  margin-left: 3em;
  margin-right: 3em;
  border: 1px dashed #888;
  overflow-x: auto;
  overflow-y: hidden;
}
div.returnlink {
  text-align: center;
  font-weight: bold;
  margin: 2em 5em;
}
div.noticebanner {
  border: 5px ridge orange;
  text-align: center;
  font-weight: bolder;
  background-color: #fa6;
  padding: 0.5em;
  margin: 1em 3em;
}
.centered {
  padding-left: 0;
  padding-right: 0;
  text-align: center;
  vertical-align: middle;
}
.zeroheight {
  display: block;
  width: 0;
  height: 0;
  line-height:0;
  padding: 0;
  margin: 0;
  overflow: hidden;
}
/***** End a few misc element *****/

/***** Begin the "CILogon Service" header at the top of each page *****/
div.logoheader {
  background: transparent url("/images/cilogon-gradient.jpg") repeat-y top right;
  height: 80px;
  width: 100%;
  min-width: 600px;
  font-family: sans-serif;
}
div.logoheader h1 {
  background: transparent url("/images/cilogon-logo-60x60.png") no-repeat top left;
  margin-top: 10px;
  margin-left: 10px;
  width: 60px;
  height: 60px;
  float: left;
}
div.logoheader h1 span {
  display: none;
}
div.logoheader h2 {
  float: left;
  color: #030;
  position: relative;
  font-size: 300%;
  margin-left: 10px;
  margin-top: 10px;
  width: 9em;
  font-style: italic;
  font-weight: bold;
}
div.logoheader h2 span {
  position: absolute;
  top: 4px;
  left: 4px;
}
div.logoheader h2 span.raised {
  top: 2px;
  left: 2px;
  color: #696;
  clear: both;
}
/***** End the "CILogon Service" header at the top of each page *****/

/***** Begin PageHeader titlebox *****/
div.t {
  background-image: url("/images/t.jpg"); 
  background-position: top left;
  background-repeat: no-repeat;
  padding-top: 5px; 
  margin-top: 10px;
  margin-left: 10%;
}
div.b {
  background-image: url("/images/b.jpg"); 
  background-position: bottom right;
  background-repeat: no-repeat;
  padding-bottom: 5px;
  margin-bottom: 10px;
  margin-right: 10%;
}
div.l {
  background-image: url("/images/l.jpg"); 
  background-position: top left;
  background-repeat: no-repeat;
  padding-left: 5px;
}
div.r {
  background-image: url("/images/r.jpg"); 
  background-position: bottom right;
  background-repeat: no-repeat;
  padding-right: 5px;
}
div.titlebox {
  padding: 20px;
  border: 1px solid #696;
  text-align: center;
  font-size: x-large;
  background-color: #f5fff5;
}
/***** End PageHeader titlebox *****/

/***** Begin page footer *****/
div.footer {
  border: 1px solid #888;
  color: #888;
  margin-top: 2px;
  margin-bottom: 2px;
}

div.footer p {
  text-align: center;
  font-size: x-small;
  margin: 0px;
}

div.footer a:link {
  color: #696;
  text-decoration: none;
}

div.footer a:visited {
  color: #696;
  text-decoration: none;
}
/***** End page footer *****/

/***** Begin WAYF list of whitelisted entityIDs *****/
div.wayf {
  border: 1px solid #888;
  text-align: center;
  float: right;
  width: 38%;
  min-width: 230px;
  padding: 2px;
  background: #eee;
}
.ontop {
  display: block;
}
div.wayf fieldset {
  text-align: center;
  border: 0;
  padding: 0;
}
div.wayf fieldset p {
  margin-top: 1em;
  text-align: center;
}
div.wayf fieldset p a.smaller {
  font-size: x-small;
}
div.providerselection {
  height: 2em;
  margin: 0;
  padding: 0;
  border: 0;
}
select#providerId {
  font-size: 8pt;
}
/***** End WAYF *****/

/***** Begin Welcome page text *****/
div.welcome {
  border: 1px solid #888;
  float: left;
  width: 59%;
  min-width: 350px;
  padding: 2px;
  margin-bottom: 1em;
}
div.welcome h2 {
  font-size: medium;
  color: #696;
  font-weight: bold;
}
div.welcome p {
  margin-left: 1em;
  margin-right: 1em;
}
/***** End Welcome page text *****/

/***** Begin contactform on the requestidp page *****/
div.contactform {
  border: 1px solid #888;
  margin: 2em;
  background-color: #efe;
}
div.contactform label {
  float: left;
  width: 12em;
  margin-right: 1em;
  text-align: right;
}
div.contactform fieldset {
  border: none;
}
div.contactform fieldset legend {
  font-size: 110%;
  font-weight: bold;
  margin-top: 0.5em;
  padding: 0;
}
div.contactform span.fixerror {
  color: #c00;
  font-weight: bold;
  margin-left: 2em;
}
/***** End contactform on the requestidp page *****/

/***** Begin summary div on testidp page *****/
div.summary {
  border: 1px solid #888;
  margin: 2em;
  padding: 2px;
  background-color: #efe;
}
div.summary h2 {
  margin-top: 0;
  margin-bottom: 0.5em;
}
div.summary h3 {
  margin-top: 2px;
  margin-left: 2em;
  margin-bottom: 0;
}
div.icon {
  float: left;
  margin-right: 1em;
}
div.summary form {
  text-align: center;
  margin-bottom: 0.5em;
}
div.summary a:link {
  color: #030;
  text-decoration: none;
}
div.summary a:visited {
  color: #030;
  text-decoration: none;
}
div.summary span.expander {
  font-size: large;
  font-weight: bold;
}
div.summary table {
  margin: 0.5em 3em 0.5em;
  border-width: 0;
  border-spacing: 0;
  border-style: solid;
  border-collapse: collapse;
}
div.summary table tr th {
  background-color: #efe;
  text-align: right;
}
div.summary table tr td {
  background-color: #efe;
}
div.summary table tr.odd th {
  background-color: #fafffa;
  text-align: right;
}
div.summary table tr.odd td {
  background-color: #fafffa;
}
div.summarytext a:link {
  text-decoration: underline;
}
div.summarytext a:visited {
  text-decoration: underline;
}
div.summarytext p.addsubmit {
  text-align: center;
  font-weight: bold;
}
/***** End summary div on testidp page *****/

/***** Begin taskbox on the main page *****/
div.taskdiv {
  margin: 1em;
}
div.taskdiv table.tasktable {
  border-spacing: 0 1em;
}
tr.taskbox  {
  border: 1px solid #888;
}
tr.taskbox td.buttons {
  text-align: center;
  border-left: 1px solid #888;
  border-top: 1px solid #888;
  border-bottom: 1px solid #888;
}
tr.taskbox td.buttons input.submitmore {
  font-weight: bold;
  font-size: 110%;
  color: #030;
  background-color: #aba;
  margin-top: 1em;
}
tr.taskbox td.description {
  text-align: justify;
  vertical-align: top;
  border-right: 1px solid #888;
  border-top: 1px solid #888;
  border-bottom: 1px solid #888;
}
tr.taskbox td.description h2 {
  font-size: medium;
  color: #696;
  font-weight: bold;
  margin-top: 0;
}
/***** End taskbox on the main page *****/

/***** Begin errorbox and associated icon/text *****/
div.errorbox {
  margin: 1em;
  padding: 1em;
  border: 3px double red;
}
div.errorbox table {
  border-width: 0;
  border-spacing: 0;
  border-style: solid;
  border-collapse: collapse;
}
/***** End errorbox and associated icon/text *****/

/***** Begin userchanged div and table *****/
div.userchanged table {
  margin: 1em 3em;
  border: 1px solid #696;
  border-spacing: 0;
  border-collapse: collapse;
  width: inherit;
}
div.userchanged table tr th {
  border: 1px solid #696;
  background-color: #efe;
  text-align: right;
}
div.userchanged table tr.headings th {
  border: 1px solid #696;
  background-color: #efe;
  text-align: center;
}
div.userchanged table tr td {
  border: 1px solid #696;
  background-color: #efe;
}
div.userchanged table tr.odd th {
  border: 1px solid #696;
  background-color: #fafffa;
  text-align: right;
}
div.userchanged table tr.odd td {
  border: 1px solid #696;
  background-color: #fafffa;
}
/***** End userchanged div and table *****/

/***** Begin allowdiv and submit buttons *****/
div.allowdiv p {
  text-align: center;
}
div.allowdiv table {
  margin: auto;
  border-spacing: 10px;
  width: 100%;
}
div.allowdiv table td {
  border: 1px solid #888;
  padding: 1em;
  background-color: #f5fff5;
  width: 40%;
}
/***** End allowdiv *****/

/***** Begin OpenID stuff *****/
#openidurl {
  font-size: 8pt;
  padding-top: 2px;
  padding-bottom: 1px;
  padding-left: 3px;
  padding-right: 1px;
}
#openidusername {
  border: 1px solid #ddd;
  font-family: monospace;
  font-size: 8pt;
  outline: none;
}
.openiddrop {
  position: relative;
  z-index: 100;
  display: inline;
}
.openiddrop img {
  vertical-align: middle;
}
.openiddrop ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: inline;
}
.openiddrop ul li {
  display: inline;
  position: relative;
}
.openiddrop ul li h3 {
  display: inline;
  border: 2px outset #888;
  padding: 0px 2px 2px 2px;
  background: #eee url('/images/clear.png') no-repeat;
}
.openiddrop ul li table {
  display: none;
  position: absolute;
  border: 2px outset #888;
  top: 21px;
  right: 4px;
}
.openiddrop ul li:hover table {
  display: block;
}
table.providertable {
  border-width: 0;
  border-spacing: 0;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  text-align: left;
}
table.providertable tr td {
  padding: 2px 8px 2px 18px;
}
table.openidtable {
  border-width: 0;
  border-spacing: 0;
  border-collapse: collapse;
  width: 100%; 
  margin: 0;
  padding: 0;
  table-layout: fixed;
}
table.openidtable th {
  border: 1px solid #ccc;
  background-color: #eee;
  padding: 0;
  font-weight: normal;
}
table.openidtable td {
  border: 0px solid #000;
  background-color: #eee;
  padding: 0;
}
div.openiderror {
  border: 3px double red;
  text-align: center;
  background-color: #fcc;
  margin: 1em;
}
.aolicon {
  background: #eee url('/images/aol.png') no-repeat left center;
}
.bloggericon {
  background: #eee url('/images/blogger.png') no-repeat left center;
}
.certificaicon {
  background: #eee url('/images/certifi.ca.png') no-repeat left center;
}
.chimpicon {
  background: #eee url('/images/chi.mp.png') no-repeat left center;
}
.clavidicon {
  background: #eee url('/images/clavid.png') no-repeat left center;
}
.flickricon {
  background: #eee url('/images/flickr.png') no-repeat left center;
}
.getopenidicon {
  background: #eee url('/images/getopenid.png') no-repeat left center;
}
.googleicon {
  background: #eee url('/images/google.png') no-repeat left center;
}
.hyvesicon {
  background: #eee url('/images/hyves.png') no-repeat left center;
}
.identityicon {
  background: #eee url('/images/identity.net.png') no-repeat left center;
}
.launchpadicon {
  background: #eee url('/images/launchpad.png') no-repeat left center;
}
.liquididicon {
  background: #eee url('/images/liquidid.png') no-repeat left center;
}
.livejournalicon {
  background: #eee url('/images/livejournal.png') no-repeat left center;
}
.myidicon {
  background: #eee url('/images/myid.png') no-repeat left center;
}
.myopenidicon {
  background: #eee url('/images/myopenid.png') no-repeat left center;
}
.myspaceicon {
  background: #eee url('/images/myspace.png') no-repeat left center;
}
.myvidoopicon {
  background: #eee url('/images/myvidoop.png') no-repeat left center;
}
.netlogicon {
  background: #eee url('/images/netlog.png') no-repeat left center;
}
.oneloginicon {
  background: #eee url('/images/onelogin.png') no-repeat left center;
}
.openidicon {
  background: #eee url('/images/openid.png') no-repeat left center;
}
.verisignicon {
  background: #eee url('/images/verisign.png') no-repeat left center;
}
.voxicon {
  background: #eee url('/images/vox.png') no-repeat left center;
}
.wordpressicon {
  background: #eee url('/images/wordpress.png') no-repeat left center;
}
.yahooicon {
  background: #eee url('/images/yahoo.png') no-repeat left center;
}
.yiidicon {
  background: #eee url('/images/yiid.png') no-repeat left center;
}
/***** End OpenID stuff *****/
